<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tuition</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <!-- Move navbar items to the right -->
      <ul class="navbar-nav ms-auto"> <!-- Added ms-auto to move items to the right -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutt">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recordclasses">Record Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/assignment">Assignment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/test">Test</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/start">payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <router-outlet></router-outlet>
  
  <!-- Footer Section -->
  <footer class="footer">
    <div class="footer-content">
      <h3 class="footer-title">About Our Tuition Class</h3>
      <p>Providing quality education for students to excel in their academic journey.</p>
      <p><strong>Address:</strong> 123 Learning St, Knowledge City, Education State, 12345</p>
      <div class="social-media">
        <h4>Follow Us:</h4>
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
        <a href="https://www.twitter.com" target="_blank">Twitter</a>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
        <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
      </div>
    </div>
   
  </footer>
  